// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$cta-color: #8670FF;
$cta-hover-color: white;
$h-color: #8670FF;
$subh-color: #094074;
$p-color: #094074;
$nav-text-color: #FFFFFF;
$navbar-bg-color: #8670FF;
$bg-color: white;
