<div class="navbar navbar-expand-sm navbar-light navbar-stupidbug">
  <%= link_to root_path, class: "navbar-brand" do %>
    <div>
      <%= image_tag "StupidBug-logo.png", class: "logo" %>
    </div>
  <% end %>
</div>
